@model IEnumerable<YungChingWeb.Models.Customer>

@{
    ViewBag.Title = "Customer List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int index = 1;
}

<h2>客戶資料</h2>
<p>
    @Html.ActionLink("新增客戶", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>項目</th>
            <th>姓名</th>
            <th>Email</th>
            <th>動作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {

            foreach (var customer in Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@customer.Name</td>
                    <td>@customer.Email</td>
                    <td>
                        @Html.ActionLink("編輯", "Edit", new { id = customer.Id }) |
                        @Html.ActionLink("刪除", "Delete", new { id = customer.Id }, new { onclick = "return confirm('確定要刪除這筆客戶資料嗎？');" })
                    </td>
                </tr>
                index++;
            }
        }
    </tbody>
</table>